name: Main CI

on:
  push:
    branches:
      - '**'
  pull_request:
    braches:
      - '**'

jobs:
  test-and-coverage:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=${GITHUB_WORKSPACE}/src" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install coverage

      - name: Run tests
        run: |
          cd tests
          python -m coverage run -m unittest
          python -m coverage lcov

      - name: Python ${{ matrix.python-version }} Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: tests/coverage.lcov
          flag-name: python-${{ matrix.python-version }}-run
          parallel: true


  finish:

    needs: test-and-coverage
    runs-on: ubuntu-latest

    steps:
    - name: Update Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true